.footerDiv {
    background-color: #131313;
    color: white;
    padding: 4%;
    height: 250px;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

#buttonLinkedIn {
    background-color: #131313;
    border: none;
}